@import url('./_fonts.css');
@import url('./_reset.css');
@import url('./_vars.css');
@import url('./global.css');

body {
    min-height: 100vh;
    background-color: var(--dark);
}




.header {
    padding: 10px 0;
    font-size: 2rem;

    &-action {
        width: 44px;
        height: 44px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        cursor: pointer;

        &:not(.top-bar__logo) {
            border: 2px solid var(--orange);
        }

        &:focus {
            outline: 4px solid red;
        }
    }

    &__top-bar,
    &__bottom-bar {
        display: flex;
        padding: 10px;
    }

    & .top-bar {
        & > * {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
        
        &__logo {
            &-img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }

        &__navigation {
            & .navigation-list {
                display: flex;

                &__item {
                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }

                &__link {
                    display: inline-block;
                    padding: 10.5px 18px;
                    color: var(--orange);
                    font-family: Reforma;
                    letter-spacing: var(--reforma_46);
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }

        &__profile {
            margin-left: auto;
        }
    }

    & .bottom-bar {
        &__actions {
            margin-left: auto;
            display: flex;

            & > * {
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}