@import url('./_fonts.css');
@import url('_reset.css');
@import url('./_vars.css');
@import url('./global.css');

html {
    scrollbar-width: thin;
    scrollbar-color: var(--orange) var(--dark);
    scrollbar-gutter: stable;
}

body, html {
    min-height: 100vh;
    background-color: var(--dark);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 20px;
    font-size: 2rem;
    color: var(--white);

    &-action {
        cursor: pointer;
        transition: 250ms ease-out all;
        color: var(--white);
        outline: 2px solid transparent;
        width: 44px;
        height: 44px;

        &:not(.bottom-bar__menu-btn) {
            border-radius: 50%;
        }

        & > svg {
            stroke: currentColor;
            fill: transparent;
        }

        &:focus-visible {
            outline: 2px solid var(--green);
        }
    }

    &__top-bar,
    &__bottom-bar {
        display: flex;
        padding: 10px 0;
        align-items: center;

        & > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    & .top-bar {        
        &__logo {
            overflow: hidden;
            width: 44px;
            height: 44px;
            
            &-img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }

        &__navigation {
            display: none;
            
            & .navigation-list {
                display: flex;

                &__item {
                    white-space: nowrap;
                    
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }

                &__link {
                    display: inline-block;
                    padding: 12px 18px;
                    font-family: Reforma;
                    letter-spacing: var(--reforma_46);
                    text-transform: uppercase;
                }
            }
        }

        &__profile {
            margin-left: auto;
            padding: 5px;
        }
    }

    & .bottom-bar {
        & .feedback {
            position: relative;
            padding: 6px;
            color: var(--orange);
            outline: 2px solid currentColor;

            &:focus-visible {
                outline: 2px solid var(--green);
            }

            &.active {
                color: var(--green);

                & .feedback-container {
                    & > .feedback-movable-wrapper {
                        transform: translateY(-50%);
                    }
                }
            }

            @keyframes feedBackAnimation {
                0%, 40% {
                    transform: rotate(0);
                } 10%, 30% {
                    transform: rotate(15deg);
                } 20% {
                    transform: rotate(-15deg);
                }
            }

            &:not(.active) {
                & .feedback-container {
                    animation: feedBackAnimation infinite ease-out 4s;
                }
            }

            &-container {
                border-radius: 50%;
                height: 100%;
                overflow: hidden;
            }

            &-movable-wrapper {
                height: 200%;
                transition: 250ms ease-out all;
            }

            &__img-container {
                height: 50%;
                max-height: 32px;
                aspect-ratio: 1 / 1;

                & > svg {
                    stroke: currentColor;
                }
            }
        }

        &__actions {
            margin-left: auto;
            display: flex;
    
            & > * {
                padding: 6px;
                
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            & .search-bar {
                &-container {
                    height: 100%;
                    overflow: hidden;
                }

                &__movable-wrapper {
                    height: 200%;
                    transition: 250ms ease-out all;
                }

                &__img-container {
                    height: 50%;
                    max-height: 32px;
                    aspect-ratio: 1 / 1;

                    & > svg {
                        stroke: currentColor;
                        fill: transparent;
                    }
                }

                &.active {
                    & .search-bar-container {
                        & > .search-bar__movable-wrapper {
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            & .menu-btn {
                border-radius: unset;
        
                &__row {
                    height: 3px;
                    background-color: currentColor;
                    border-radius: 3px;
                    transition: 250ms all ease-out;
        
                    &:not(:last-child) {
                        margin-bottom: 11px;
                    }

                    &:nth-child(2) {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border-radius: 3px;
                            background-color: currentColor;
                            transition: 250ms ease-out all;
                        }
                    }
        
                    &:first-child,
                    &:last-child {
                        width: 50%;
                    }
        
                    &:last-child {
                        margin-left: auto;
                    }
                }

                &.active {
                    .menu-btn__row {
                        &:first-child,
                        &:last-child {
                            width: 0;
                        }

                        &:nth-child(2) {
                            transform: rotate(-45deg);

                            &::before {
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {
    padding: 40px 0;
    margin-top: 148px;

    &-banner {
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &__headliner {
            position: relative;
            min-height: 0;
            min-width: 0;
            overflow: hidden;
            border-radius: 16px;

            &-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                height: 10%;
                aspect-ratio: 1 / 1;
                min-height: 44px;
                border: 2px solid var(--green);
                opacity: .4;
                z-index: 2;
                transition: 250ms ease-in opacity;
                cursor: pointer;
                padding: 5px;

                & > svg {
                    display: block;
                    transform: rotate(-45deg);
                    fill: var(--green);
                }
            }

            &-prev-btn {
                left: 15px;
            }

            &-next-btn {
                right: 15px;
            }

            &:hover {
                & .main-banner__headliner-btn {
                    opacity: 1;
                }
            }
            
            & .headliner-slider {
                height: 100%;
                
                &__slide {
                    border-radius: 16px;
                    overflow: hidden;

                    & > img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                            object-fit: cover;
                    }
                }
            }
        }

        & .grid-gallery {
            display: grid;
            gap: 20px;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);

            & > div {
                border-radius: 16px;
                overflow: hidden;

                & > img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
        }
    }

    & .test {
        padding: 40px 0;

        .wrapper {
            padding: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }

        .image-wrapper {
            height: 400px;
            aspect-ratio: 4 / 5;
            padding: 50px;

            & > img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
    }
}




.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;

    &-container {
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-close-btn {
        color: var(--white);
        padding: 12px 24px;
        border: 2px solid var(--orange);
        font-size: 3rem;
    }
}

.search-popup {
    z-index: 1000;
    transition: 250ms ease-out all;
    visibility: hidden;
    opacity: 0;

    &::before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.864);
        backdrop-filter: blur(6px);
    }

    &.in-view {
        visibility: visible;
        opacity: 1;
    }

    &-input-container {
        position: relative;
        margin-top: 30px;
    }

    &__input {
        width: calc(100% - 68px);
        padding: 6.5px 44px;
        line-height: 150%;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: .09rem;
        border-radius: 18px;
        border-bottom: 2px solid var(--orange);
        color: var(--white);

        &::placeholder {
            text-transform: lowercase;
            font-weight: 400;
            letter-spacing: .3rem;
            color: currentColor;
        }

        &-btn {
            position: absolute;
            top: 0;
            height: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid var(--orange);
            padding: 4px;
            color: var(--white);

            & > svg {
                fill: transparent;
                stroke: currentColor;
            }
        }

        &-filter {
            left: 0;
        }

        &-search {
            right: 4px;
        }

        &-clear {
            right: 68px;
        }
    }

    &__output {
        font-size: 1.4rem;
        color: var(--white);
        letter-spacing: .1rem;
        overflow-x: auto;
        height: calc(100% - 159px);
        margin-top: 40px;
        scrollbar-width: thin;
        scrollbar-color: var(--orange) var(--dark);
        scrollbar-gutter: stable;

        &-list {
            & > li {
                padding: 4px;
    
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
    }
}