@import url("./_fonts.css");
@import url("_reset.css");
@import url("./_vars.css");
@import url("./global.css");
body {
  min-height: 100vh;
  background-color: var(--dark);
}

.header {
  padding-top: 20px;
  font-size: 2rem;
  color: var(--white);
}
.header-action {
  color: var(--white);
  cursor: pointer;
  transition: 250ms ease-out all;
}
.header-action:not(.top-bar__logo) {
  outline: 4px solid transparent;
}
.header-action:not(.top-bar__logo).active {
  color: var(--green);
}
.header-action > svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  fill: transparent;
}
.header-action:not(.bottom-bar__contact-us) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.header-action:focus {
  outline: 4px solid currentColor;
}
.header__top-bar, .header__bottom-bar {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.header__top-bar > *:not(:last-child), .header__bottom-bar > *:not(:last-child) {
  margin-right: 20px;
}
.header .top-bar__logo {
  overflow: hidden;
}
.header .top-bar__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .top-bar__navigation {
  display: none;
}
.header .top-bar__navigation .navigation-list {
  display: flex;
}
.header .top-bar__navigation .navigation-list__item {
  white-space: nowrap;
}
.header .top-bar__navigation .navigation-list__item:not(:last-child) {
  margin-right: 20px;
}
.header .top-bar__navigation .navigation-list__link {
  display: inline-block;
  padding: 12px 18px;
  font-family: Reforma;
  letter-spacing: var(--reforma_46);
  text-transform: uppercase;
}
.header .top-bar__profile {
  margin-left: auto;
  padding: 5px;
}
.header .bottom-bar__contact-us {
  display: none;
  font-size: 1.8rem;
  position: relative;
  text-align: center;
  border-radius: 18px;
  color: currentColor;
}
.header .bottom-bar__contact-us-heading {
  padding: 11.5px 18px;
  display: block;
}
.header .bottom-bar__contact-us-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateY(40%);
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-out all;
}
.header .bottom-bar__contact-us-list.in-view {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header .bottom-bar__contact-us-item {
  padding: 11.5px 18px;
  display: block;
  cursor: pointer;
  border-radius: 18px;
  border: 1px solid var(--green);
}
.header .bottom-bar__contact-us-item:last-child {
  margin-top: -1px;
}
.header .bottom-bar__actions {
  margin-left: auto;
  display: flex;
}
.header .bottom-bar__actions > * {
  padding: 6px;
}
.header .bottom-bar__actions > *:not(:last-child) {
  margin-right: 20px;
}
.header .bottom-bar__actions .search-bar-container {
  height: 100%;
  overflow: hidden;
}
.header .bottom-bar__actions .search-bar__movable-wrapper {
  height: 200%;
  transition: 250ms ease-out all;
}
.header .bottom-bar__actions .search-bar__movable-wrapper > div {
  height: 50%;
}
.header .bottom-bar__actions .search-bar__movable-wrapper > div > svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  fill: transparent;
  margin: 0;
}
.header .bottom-bar__actions .search-bar.active .search-bar-container > .search-bar__movable-wrapper {
  transform: translateY(-50%);
}
.header .bottom-bar__actions .menu-btn {
  border-radius: unset;
}
.header .bottom-bar__actions .menu-btn__row {
  height: 3px;
  background-color: currentColor;
  border-radius: 3px;
  transition: 250ms all ease-out;
}
.header .bottom-bar__actions .menu-btn__row:not(:last-child) {
  margin-bottom: 11px;
}
.header .bottom-bar__actions .menu-btn__row:nth-child(2) {
  position: relative;
}
.header .bottom-bar__actions .menu-btn__row:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 3px;
  background-color: currentColor;
  transition: 250ms ease-out all;
}
.header .bottom-bar__actions .menu-btn__row:first-child, .header .bottom-bar__actions .menu-btn__row:last-child {
  width: 50%;
}
.header .bottom-bar__actions .menu-btn__row:last-child {
  margin-left: auto;
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:first-child, .header .bottom-bar__actions .menu-btn.active .menu-btn__row:last-child {
  width: 0;
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:nth-child(2) {
  transform: rotate(-45deg);
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:nth-child(2)::before {
  transform: rotate(-90deg);
}

.main {
  padding: 40px 0;
}
.main-banner__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3vw;
}
.main-banner__headliner {
  overflow: hidden;
  border-radius: 16px;
}
.main-banner__headliner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner__grid {
  display: grid;
  gap: 3vw;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.main-banner__grid > div {
  border-radius: 16px;
  overflow: hidden;
}
.main-banner__grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */