@import url("./_fonts.css");
@import url("_reset.css");
@import url("./_vars.css");
@import url("./global.css");
body {
  min-height: 100vh;
  background-color: var(--dark);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  font-size: 2rem;
  color: var(--white);
}
.header-action {
  cursor: pointer;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
  color: var(--white);
  outline: 2px solid transparent;
  width: 44px;
  height: 44px;
}
.header-action:not(.bottom-bar__menu-btn) {
  border-radius: 50%;
}
.header-action > svg {
  stroke: currentColor;
  fill: transparent;
}
.header-action:focus-visible {
  outline: 2px solid var(--green);
}
.header__top-bar, .header__bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-bar > *:not(:last-child), .header__bottom-bar > *:not(:last-child) {
  margin-right: 20px;
}
.header .top-bar__logo {
  overflow: hidden;
  width: 44px;
  height: 44px;
}
.header .top-bar__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header .top-bar__navigation {
  display: none;
}
.header .top-bar__navigation .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .top-bar__navigation .navigation-list__item {
  white-space: nowrap;
}
.header .top-bar__navigation .navigation-list__item:not(:last-child) {
  margin-right: 20px;
}
.header .top-bar__navigation .navigation-list__link {
  display: inline-block;
  padding: 12px 18px;
  font-family: Reforma;
  letter-spacing: var(--reforma_46);
  text-transform: uppercase;
}
.header .top-bar__profile {
  margin-left: auto;
  padding: 5px;
}
.header .bottom-bar .feedback {
  position: relative;
  padding: 6px;
  color: var(--orange);
  outline: 2px solid currentColor;
}
.header .bottom-bar .feedback:focus-visible {
  outline: 2px solid var(--green);
}
.header .bottom-bar .feedback.active {
  color: var(--green);
}
.header .bottom-bar .feedback.active .feedback-container > .feedback-movable-wrapper {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@-webkit-keyframes feedBackAnimation {
  0%, 40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10%, 30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
@keyframes feedBackAnimation {
  0%, 40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10%, 30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
.header .bottom-bar .feedback:not(.active) .feedback-container {
  -webkit-animation: feedBackAnimation infinite ease-out 4s;
          animation: feedBackAnimation infinite ease-out 4s;
}
.header .bottom-bar .feedback-container {
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
}
.header .bottom-bar .feedback-movable-wrapper {
  height: 200%;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
}
.header .bottom-bar .feedback__img-container {
  height: 50%;
  max-height: 32px;
  aspect-ratio: 1/1;
}
.header .bottom-bar .feedback__img-container > svg {
  stroke: currentColor;
}
.header .bottom-bar__actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .bottom-bar__actions > * {
  padding: 6px;
}
.header .bottom-bar__actions > *:not(:last-child) {
  margin-right: 20px;
}
.header .bottom-bar__actions .search-bar-container {
  height: 100%;
  overflow: hidden;
}
.header .bottom-bar__actions .search-bar__movable-wrapper {
  height: 200%;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
}
.header .bottom-bar__actions .search-bar__img-container {
  height: 50%;
  max-height: 32px;
  aspect-ratio: 1/1;
}
.header .bottom-bar__actions .search-bar__img-container > svg {
  stroke: var(--white);
}
.header .bottom-bar__actions .search-bar.active .search-bar-container > .search-bar__movable-wrapper {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .bottom-bar__actions .menu-btn {
  border-radius: unset;
}
.header .bottom-bar__actions .menu-btn__row {
  height: 3px;
  background-color: currentColor;
  border-radius: 3px;
  -webkit-transition: 250ms all ease-out;
  transition: 250ms all ease-out;
}
.header .bottom-bar__actions .menu-btn__row:not(:last-child) {
  margin-bottom: 11px;
}
.header .bottom-bar__actions .menu-btn__row:nth-child(2) {
  position: relative;
}
.header .bottom-bar__actions .menu-btn__row:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 3px;
  background-color: currentColor;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all;
}
.header .bottom-bar__actions .menu-btn__row:first-child, .header .bottom-bar__actions .menu-btn__row:last-child {
  width: 50%;
}
.header .bottom-bar__actions .menu-btn__row:last-child {
  margin-left: auto;
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:first-child, .header .bottom-bar__actions .menu-btn.active .menu-btn__row:last-child {
  width: 0;
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .bottom-bar__actions .menu-btn.active .menu-btn__row:nth-child(2)::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main {
  padding: 40px 0;
  margin-top: 148px;
}
.main-banner__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.main-banner__headliner {
  position: relative;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  border-radius: 16px;
}
.main-banner__headliner-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  height: 10%;
  aspect-ratio: 1/1;
  min-height: 44px;
  border: 2px solid var(--green);
  opacity: 0.4;
  z-index: 2;
  -webkit-transition: 250ms ease-in opacity;
  transition: 250ms ease-in opacity;
  cursor: pointer;
  padding: 5px;
}
.main-banner__headliner-btn > svg {
  display: block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: var(--green);
}
.main-banner__headliner-prev-btn {
  left: 15px;
}
.main-banner__headliner-next-btn {
  right: 15px;
}
.main-banner__headliner:hover .main-banner__headliner-btn {
  opacity: 1;
}
.main-banner__headliner .headliner-slider {
  height: 100%;
}
.main-banner__headliner .headliner-slider__slide {
  border-radius: 16px;
  overflow: hidden;
}
.main-banner__headliner .headliner-slider__slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-banner .grid-gallery {
  display: grid;
  gap: 20px;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.main-banner .grid-gallery > div {
  border-radius: 16px;
  overflow: hidden;
}
.main-banner .grid-gallery > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main .test {
  padding: 40px 0;
}
.main .test .wrapper {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.main .test .image-wrapper {
  height: 400px;
  aspect-ratio: 4/5;
  padding: 50px;
}
.main .test .image-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */