@import url('./_fonts.css');
@import url('_reset.css');
@import url('./_vars.css');
@import url('./global.css');

html, body {
    scrollbar-width: thin;
    scrollbar-color: var(--orange) var(--dark);
}

body {
    min-height: 100vh;
    background-color: var(--dark);
}

.top-bar__logo,
.header-mobile__logo {
    height: 44px;
    overflow: hidden;
    perspective: 400px;

    &-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transform: rotateX(-180deg);
        animation: rotateHeaderLogo ease-in-out infinite 30s;
    }

    @keyframes rotateHeaderLogo {
        0%, 45% {
        transform: rotateX(0);
        } 50%, 95% {
        transform: rotateX(180deg);
        } 100% {
        transform: rotateX(360deg);
        }
    }

    &-link {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        color: var(--white);
        backface-visibility: hidden;
        font-family: Manrope;
    }

    &-title {
        line-height: 44px;
        font-size: 22px;
        letter-spacing: 4.5px;
        font-weight: 800;
        font-family: manrope;
        text-transform: uppercase;
    }

    &-address {
        font-size: 16px;
        line-height: 22px;
        transform: rotateX(180deg);
        letter-spacing: .09rem;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2rem;
    background-color: var(--dark);

    &-action,
    & .bottom-bar__contacts {
        cursor: pointer;
        transition: 250ms ease-out all;
        color: var(--white);
        outline: 2px solid transparent;
        width: 44px;
        height: 44px;

        & .action-item {
            transition: 300ms ease-out stroke, 300ms ease-out background-color;
        }

        &.active {
            .action-item,
            div.action-item {
                stroke: var(--orange);
            }
        }

        &:not(.bottom-bar__menu-btn) {
            border-radius: 50%;
        }

        &:focus-visible {
            outline: 2px solid var(--light-green);
        }
    }

    &__top-bar,
    &__bottom-bar {
        display: flex;
        padding: 10px 0;
        align-items: center;

        & > * {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    & .top-bar {       
        &__logo {
            width: 140px;

            &-title {
                text-align: left;
            }

            &-address {
                text-align: center;
            }
        }

        &__profile {
            margin-left: auto;
            padding: 5px;
        }
    }

    & .bottom-bar {
        & .contacts {
            position: relative;
            border-radius: 50%;
            padding: 6px;
            color: var(--orange);
            outline: 2px solid currentColor;

            &.in-view {
                & .contacts-container {
                    & > .contacts-movable-wrapper {
                        transform: translateY(-50%);
                    }
                }

                & .contacts__list,
                & .contacts__list-item {
                    visibility: visible;
                }

                & .contacts__list-item {
                    opacity: 1;
                }
            }

            @keyframes contactsAnimation {
                0%, 25% {
                    transform: rotate(0);
                } 5%, 15% {
                    transform: rotate(30deg);
                } 10%, 20% {
                    transform: rotate(-30deg);
                }
            }

            &:not(.in-view) {
                & .contacts-container {
                    animation: contactsAnimation infinite ease-out 7s 1s;
                }
            }

            &-btn {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &:focus-visible {
                    outline: 2px solid var(--light-green);
                }
            }

            &-container {
                height: 100%;
                max-height: 32px;
                overflow: hidden;
            }

            &-movable-wrapper {
                max-width: 32px;
                max-height: 64px;
                height: 200%;
                transition: 300ms ease-out transform;
            }

            &-img-wrapper {
                height: 50%;
                max-height: 32px;
            }

            &__list {
                position: absolute;
                top: calc(100% + 2px);
                left: 0;
                padding: 20px 0;
                transition: 300ms ease-out all;
                visibility: hidden;

                &-item {
                    color: var(--white);
                    outline: 2px solid var(--orange);
                    text-align: center;
                    border-radius: 16px;
                    overflow: hidden;
                    transition: 300ms ease-out opacity, 300ms ease-out visibility;
                    visibility: hidden;
                    opacity: 0;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    &-link {
                        display: grid;
                        grid-template-columns: 32px 1fr;
                        align-items: center;
                        padding: 6px 12px;

                        & > .link-item-wrapper {
                            max-height: 32px;
                        }
                    }

                    &-content {
                        white-space: nowrap;
                        font-family: Reforma;
                        letter-spacing: var(--ls-reforma_29);
                        padding-left: 16px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &__actions {
            margin-left: auto;
            display: flex;
    
            & > * {
                padding: 6px;
                
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            & .search-bar {
                &-container {
                    height: 100%;
                    overflow: hidden;
                }

                &__movable-wrapper {
                    height: 200%;
                    transition: 250ms ease-out all;
                }

                &__img-container {
                    height: 50%;
                    max-height: 32px;
                    aspect-ratio: 1 / 1;
                }

                &.active {
                    & .search-bar-container {
                        & > .search-bar__movable-wrapper {
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            & .menu-btn {
                border-radius: unset;
        
                &__row {
                    height: 3px;
                    background-color: currentColor;
                    border-radius: 3px;
                    transition: 250ms all ease-out;
        
                    &:not(:last-child) {
                        margin-bottom: 11px;
                    }

                    &:nth-child(2) {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border-radius: 3px;
                            background-color: currentColor;
                            transition: 250ms ease-out all;
                        }
                    }
        
                    &:first-child,
                    &:last-child {
                        width: 50%;
                    }
        
                    &:last-child {
                        margin-left: auto;
                    }
                }

                &.active {
                    .menu-btn__row {
                        &:first-child,
                        &:last-child {
                            width: 0;
                        }

                        &:nth-child(2) {
                            transform: rotate(-45deg);

                            &::before {
                                transform: rotate(-90deg);
                            }
                        }
                    }
                    & .action-item,
                    & .action-item::before {
                        background-color: var(--orange);
                    }
                }
            }
        }
    }
}

.header-mobile {
    margin-top: 200px;
    padding: 20px 0 10px;

    &-wrapper {
        display: flex;
    }

    &__logo {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;

        &-link {
            text-align: center;
        }
    }

    &__menu {
        padding: 2px;
        width: 44px;
        height: 44px;
    }
}

.main {
    padding: 40px 0;
    margin-top: 148px;

    &-banner {
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5%;
        }

        &__headliner {
            position: relative;
            min-height: 0;
            border-radius: 16px;
            height: 100%;
            min-width: 0;
            overflow: hidden;

            &-btn {
                color: var(--orange);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 10%;
                aspect-ratio: 1 / 1;
                min-height: 44px;
                outline: 2px solid currentColor;
                border-radius: 50%;
                opacity: .25;
                z-index: 2;
                transition: 250ms ease-in opacity;
                cursor: pointer;
                padding: 5px;
            }

            &-prev-btn {
                left: 2%;
            }

            &-next-btn {
                right: 2%;
            }

            &:hover {
                & .main-banner__headliner-btn {
                    opacity: 1;
                }
            }

            & .headliner-pagination {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                width: auto !important;
                z-index: 1;

                & > .swiper-pagination-bullet {
                    color: var(--orange);
                    width: 26px;
                    height: 26px;
                    background-color: unset;
                    transition: 200ms ease-out transform;

                    @keyframes fillOuterSvg {
                        0% {
                            stroke-dashoffset: 77;
                        } 100% {
                            stroke-dashoffset: 0;
                        }
                    }

                    & .svg__circle {
                        stroke-dasharray: 77;
                        stroke-dashoffset: 77;
                    }
                }

                & > .swiper-pagination-bullet[aria-current] {
                    transform: scale(1.3);

                    & .svg__circle {
                        animation: fillOuterSvg 5s linear backwards 1s;
                    }

                    & .svg__circle-inner {
                        fill: currentColor;
                    }
                }
            }
            
            & .headliner-slider {
                height: 100%;
                
                &__slide {
                    border-radius: 16px;
                    overflow: hidden;

                    &-img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                            object-fit: cover;
                    }
                }
            }
        }

        & .grid-gallery {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 3%;

            &__card-wrapper {
                position: relative;
                overflow: hidden;
                border-width: 2px;
                border-style: solid;
                border-radius: 16px;
                border-color: currentColor;
                padding: 16px;
                background-size: auto 85%, contain;
                background-repeat: no-repeat;
                background-position: center right;

                &.playstation {
                    background-image: url('../images/playstation.webp');
                    color: var(--playstation_purple);
                }

                &.xbox {
                    background-image: url('../images/xbox_white.webp');
                    color: var(--xbox_green);
                }

                &.nintendo {
                    background-image: url('../images/nintendo1.webp');
                    color: var(--nintendo_orangered);
                }

                &.trade-in {
                    background-image: url('../images/icons8-exchange-250.png');
                    color: var(--orange);
                }
            }

            &__card {
                display: grid;
                grid-template-rows: auto 1fr;
                height: 100%;

                &-title {
                    margin-bottom: 16px;
                    font-size: 28px;
                    text-transform: uppercase;
                    text-shadow: var(--ts_1-3-2_black);
                    font-weight: 600;
                    letter-spacing: var(--ls-reforma_46);
                    pointer-events: none;
                }
            }

            &__list {
                align-self: end;

                &-item {
                    padding: 2px 0;
                }

                &-link {
                    display: inline-block;
                    position: relative;
                    padding-left: 16px;
                    font-size: 24px;
                    text-transform: Capitalize;
                    text-shadow: var(--ts_1-1-3_black);
                    line-height: 140%;
                    font-family: Reforma;
                    letter-spacing: var(--ls-reforma_46);
                    color: var(--white);
                    white-space: nowrap;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 3px;
                        height: 100%;
                        background-color: var(--orange);
                        opacity: 0;
                    }

                    @keyframes linkPseudoAnimation {
                        0% {
                            opacity: 0;
                        } 100% {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        color: var(--orange);

                        &::before {
                            animation: linkPseudoAnimation 350ms ease-in-out 3 forwards;
                        }
                    }
                }
            }
        }
    }

    & .advantages {
        &__list {
            padding-top: 40px;
            align-items: stretch;

            &-item {
                height: auto;
                padding: 2px;
            }
        }

        &__card {
            position: relative;
            height: 100%;
            padding: 0 10% 16px;
            border-radius: 16px;
            color: var(--white);
            border-color: currentColor;
            border-style: solid;
            border-width: 2px;

            &_pseudo {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, 50%);
                width: 0;
                height: 2px;
                background-color: var(--dark-green);

                @keyframes changePseudoWidth {
                    0%, 100% {
                        width: 0;
                    } 15%, 85% {
                        width: 40%;
                    }
                }
            }

            @keyframes activeSlideBorderColor {
                0%, 100% {
                    border-color: currentColor;
                } 15%, 85% {
                    border-color: var(--dark-green);
                }
            }

            &-img {
                margin: 0 auto;
                transform: translateY(-50%);
                padding: 0 30px;
                max-width: 140px;
                overflow: hidden;
                background-color: var(--dark);

                & > img {
                    aspect-ratio: 1 / 1;
                }
            }

            &-description {
                position: relative;
                padding: 40px 0 0;
                font-size: 21px;
                letter-spacing: var(--ls-reforma_29);
                text-transform: uppercase;
                text-shadow: var(--ts_1-1-3_black);
                text-align: center;
                color: currentColor;
                opacity: 0;
                line-height: 155%;

                @keyframes descriptionAppearance {
                    0%, 100% {
                        opacity: 0;
                        transform: translateY(20%);
                    } 15%, 85% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    .latest {
        &-body {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            gap: 20px;
        }

        &-product {
            color: var(--white);
        }
    }
}























.search-popup {
    z-index: 1000;
    transition: 250ms ease-out all;
    visibility: hidden;
    opacity: 0;

    &::before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.864);
        backdrop-filter: blur(6px);
    }

    &.in-view {
        visibility: visible;
        opacity: 1;
    }

    &-input-container {
        position: relative;
        margin-top: 30px;
    }

    &__input {
        width: calc(100% - 68px);
        padding: 6.5px 44px;
        line-height: 150%;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: .09rem;
        border-radius: 18px;
        border-bottom: 2px solid var(--orange);
        color: var(--white);

        &::placeholder {
            text-transform: lowercase;
            font-weight: 400;
            letter-spacing: .3rem;
            color: currentColor;
        }

        &-btn {
            position: absolute;
            top: 0;
            height: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid var(--orange);
            padding: 4px;
            color: var(--white);
        }

        &-filter {
            left: 0;
        }

        &-search {
            right: 4px;
        }

        &-clear {
            right: 68px;
        }
    }

    &__output {
        font-size: 1.4rem;
        color: var(--white);
        letter-spacing: .1rem;
        overflow-x: auto;
        height: calc(100% - 159px);
        margin-top: 40px;
        scrollbar-width: thin;
        scrollbar-color: var(--orange) var(--dark);
        scrollbar-gutter: stable;

        &-list {
            & > li {
                padding: 4px;
    
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
    }
}